{{##def.page_title = 'Support' #}}
{{##def.content:
<style>
    .center{
        text-align: center;
    }
</style>
<script type="text/javascript">
    var url = '/admin/support-list';
    $(document).ready(function () {
        var dtable = $("#example").DataTable({
            "processing": true,
			"serverSide": true,
			"responsive": true,
			'ajax': {
				'url': url,
				'type': 'POST',
				"cache": false
			},
			"order": [],
			"columnDefs": [
				{
					"className": "center",
					"targets": "_all"
				},
				{
					"targets": "_all",
					"orderable": false
				},
				{
					"targets": "_all",
					"searchable": false
				}
			],
			"aLengthMenu": [
				[10, 15, 20, 50, -1],
				[10, 15, 20, 50, 'ALL'] 
			],
			"iDisplayLength": 20,
			bAutoWidth: true,
			bFilter: true,
            "columns": [
				{ "data": "",
                    "render": function(data, type, row, meta){
                        var data = '<a href="/admin/support/'+row.supportid+'">'+row.supportid+'</a>';
                        return data;
                    }
                },
				{ "data": "title" },
				{ "data": "username" },
				{ "data": "created" },
                {
                    "data":"",
                    "render": function(data, type, row, meta){
                        var confirmed = row.confirmed;
                        var data = "";
                        if(confirmed == '0' || confirmed == '2'){
                            data += '<a href="/admin/support/'+row.id+'" class="confirmed_label">Confirm</a>';
                        }
                        data += '<a onclick="applyRemove('+row.id+')" class="removed_label">Delete</a>';
                        return data;
                    }
                }
			],
            "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull){
                
                $(nRow).addClass( 'click-row' );
                return nRow;
            }
        });
        $("#example_filter input")
	        .unbind() 
	        .bind("input", function(e) { 
	        
	        if(this.value.length >= 1 || e.keyCode == 13) {
	           
	           dtable.search(this.value).draw();
	        }
	        
	        if(this.value == "") {
	           dtable.search("").draw();
	        }
	        return;
	    });
        
    });

    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    };
    function applyRemove(supportId) {
        if (confirm("Are you sure you want to remove this support?")) {
            var url = '/admin/supportremove/' + supportId;
            window.location.href = url;
        }
    };
</script>
<form action="/logout" method="post" id='logout'></form>

<div class="content panel radius" style="width: 80% !important; margin-left: auto; margin-right: auto;">
    <div class="settings">
        <div class="small-2 columns">
            {{#def.include('../template/sidebar')}}
        </div>
        <div class="small-10 columns setts-content">
            <h5 class="">Supports</h5>
            <hr/>
            <table id="example" class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>User</td>
                        <td>Date</td>
                        <td style="min-width: 180px">Status</td>
                    </tr>
                </thead>

                <tbody>
                
                </tbody>
            </table>

        </div>
    </div>
    #}}
    {{#def.include('../template/main_old')}}