<script src="/node_modules/socket.io-client/socket.io.js"></script>
<ul class="menu">
    <li class="{{? it.sidebar == 'memberManagement'}} active {{?}}">
        <a class="{{? it.sidebar == 'memberManagement'}} active {{?}}" href="/admin/member-management">회원관리</a>
    </li>

    <li class="{{? it.sidebar == 'chargeManagement'}} active {{?}}">
        <a class="{{? it.sidebar == 'chargeManagement'}} active {{?}}" href="/admin/charging-management">충전관리</a>
    </li>

    <li class="{{? it.sidebar == 'exchangeManagement'}} active {{?}}">
        <a class="{{? it.sidebar == 'exchangeManagement'}} active {{?}}" href="/admin/exchange-management">환전관리</a>
    </li>

    <li class="{{? it.sidebar == 'bankCode'}} active {{?}}">
        <a class="{{? it.sidebar == 'bankCode'}} active {{?}}" href="/admin/bank-codes">계좌관리</a>
    </li>

    <li class="{{? it.sidebar == 'accountSetup'}} active {{?}}">
        <a class="{{? it.sidebar == 'accountSetup'}} active {{?}}" href="/admin/account-setup">설정</a>
    </li>

    <li class="{{? it.sidebar == 'supports'}} active {{?}}">
        <a class="{{? it.sidebar == 'supports'}} active {{?}}" href="/admin/support">고객센터</a>
    </li>

    <li class="{{? it.sidebar == 'statistics'}} active {{?}}">
        <a class="{{? it.sidebar == 'statistics'}} active {{?}}" href="/admin/statistics">통계</a>
    </li>

    <li>
        <a onclick="logout();">
            로그아웃
        </a>
    </li>
</ul>

<!-- beep alert history -->
<span class='boxtitle'>알람</span>
<br><br>
<div class="alert alert-success alert-dismissable alarmUser">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>신규회원</strong>  
    <div id="alarmUsers">
        <a href="/user/" class="alert-link"><span class='newMemberBox'></span></a>
    </div>
</div>


<div class="support alert alert-success alert-dismissable alarmSupport">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>고객질의</strong>  
    <div id="alarmSupports">
        <a href="/admin/support" class="alert-link"></a>
    </div>
</div>

<div class="support alert alert-success alert-dismissable alarmCharging">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>충전요청</strong>  
    <div id="alarmChargings">
        
    </div>
</div>

<div class="support alert alert-success alert-dismissable alarmExchange">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>환전요청</strong>  
    <div id="alarmExchanges">
        
    </div>
</div>
<!--<span class='newMemberBox'>[{{=it.lastUser.username}}]</span>
<br>
<span class='newMemberBoxLabel'> New Member </span>-->
<br><br>
<script>
    var socket = io('http://45.63.122.46:80');
    function beep() {
        var snd = new Audio('../../client_old/sounds/beep-10.wav');  
        snd.play();
    }
    
    setInterval(function(){
        console.log('calling');
        $.post("/admin/checkState", function(data){
            var chargings = data.chargings;
            var exchanges = data.exchangelist;
            var lastUser = data.lastUser;
            var supports = data.supports;
            if(lastUser.length != 0){
                var innerHtml = '';
                $.each(lastUser, function(item,value){
                    var userName = value.username;
                    innerHtml += '<a href="/user/'+userName+'" class="alert-link"><span class="newMemberBox">'+userName+'</span></a>';
                });
                $("#alarmUser").show();
                $("#alarmUsers").html(innerHtml);
            }
            else{
                $("#alarmUser").html("");
                $("#alarmUser").hide();
            }

            if(supports.length != 0){
                var innerHtml = '';
                $.each(supports, function(item,value){
                    var userName = value.username;
                    innerHtml += '<a href="/admin/support" class="alert-link"><span class="newMemberBox">'+userName+'</span></a>';
                });
                $("#alarmSupports").html(innerHtml);
                $("#alarmSupport").show();
            }
            else{
                $("#alarmSupport").hide();
                $("#alarmSupports").html("");
            }

            if(chargings.length != 0){
                var innerHtml = '';
                $.each(chargings, function(item,value){
                    var userName = value.username;
                    var amount = value.amount;
                    innerHtml += '<a href="/admin/charging-management" class="alert-link"><div class="box">'+userName+' 충전 <span>' + amount/100 + '원</span></div></a>';
                });
                $("#alarmChargings").html(innerHtml);
                $("#alarmCharging").show();
            }
            else{
                $("#alarmCharging").hide();
                $("#alarmChargings").html("");
            }

            if(exchanges.length != 0){
                var innerHtml = '';
                $.each(exchanges, function(item,value){
                    var userName = value.username;
                    var amount = value.amount;
                    innerHtml += '<a href="/admin/exchange-management" class="alert-link"><div class="box">'+userName+' 환전 <span>' + amount/100 + '원</span></div></a>';
                });
                $("#alarmExchanges").html(innerHtml);
                $("#alarmExchange").show();
            }
            else{
                $("#alarmExchange").hide();
                $("#alarmExchanges").html("");
            }


            if(chargings.length != 0 || exchanges != 0 || lastUser != 0 || supports != 0){
                beep();
            }
        });
    }, 3000);
</script>